# https://pushover.net/
# replace these non-sense values w/ your own! or use twilio/nexmo/tropo if you'd prefer SMS
PUSHOVER_TOKEN = "a;lksdnc.z,np23orih;ndfv;lmnfv"
PUSHOVER_USER = "a;lksdnc.z,np23orih;ndfv;lmnfv"
